enable-pre-post-scripts=true
auto-install-peers=true

# Approve build scripts for the following packages
@firebase/util=allow-scripts
@swc/core=allow-scripts
core-js=allow-scripts
esbuild=allow-scripts
protobufjs=allow-scripts